.home {
  display: flex;
  flex-direction: column;
  height: 86vh;
  color: white;
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hex-logo {
  height: 450px;
  margin-bottom: -50px;
  margin-top: -50px;
  transition: transform 0.3s ease;
}

.hex-logo:hover {
  transform: scale(1.05);
}

.play-btn {
  background-color: #c62828;
  color: white;
  font-size: 24px;
  padding: 20px 131px;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  font-weight: 600;
}

.play-btn:hover {
  background-color: #b71c1c;
  color: black;
}

.options {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.option-btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}

.option-btn:hover {
  background-color: #388e3c;
  color: black;
}
