.pravila-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  text-align: center;
  padding: 20px;

  justify-content: center; 
  align-content: center;   
  min-height: 100vh;       
}


.pravila-top {
  grid-column: 1 / 4;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.pravila-box {
  flex: 1;
  max-width: 400px;  
  background-color: #5da371;
  padding: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}



.pravila-left,
.pravila-right {
  background-color: #5da371; 
  padding: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.pravila-center {
  background-color: #a7201a; 
  padding: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

